@import 'components/variables';

.spaceAbove {
  margin-top: 20px;
}

.active {
border-bottom: 2px solid $lightGreen;
}

.navbar-header {
  width:70%;
}

.navbar-right {
  h4 {
    margin-right: 10px;
  }
}

.navbar-nav>li>a {
  width: 300px;
}

.nav-text {
  color: $lightGreen;
}

.nav > li > a:hover{
    background-color: $background;
}

.dashboardTeacherBtn {
  margin-top: 10px;
}

.teacherEndLecture {
  margin: 30px 22px 10px 10px;
  padding: 3px 15px;
}

.btns-teacher{
  padding-right: 22px;
}

.class-list {
  padding-left: 0px;
  width: 100%;
  margin: 0;
  .gactive{
    background-color: #e3e3e3;
  }
  li {
    width: 100%;
    height:auto;
    list-style: none;
    padding-left: 0px;
    box-sizing: border-box;
    padding: 20px 0;
    text-align: center;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
  }

  li:hover{
    background-color: #e3e3e3;
  }

  li:first-child{
    border-top: 1px solid #e3e3e3;
  }

}

@media (max-width: 790px) {
  .navbar-right{
    display: flex;
    flex-direction: column;

    button, #logout-button {
      width: 100%;
      margin: 5px 0px;
    }

  }
}
