@import 'components/variables';

body {
  font-family: 'Source Sans Pro';
  background-image: url('../img/background_black.jpg');
  margin: 0px;
}


section {
  min-height: 100vh;
  overflow: auto;
  padding: 30px;
  background-color: $background;
  margin: 0px;
  overflow-x: hidden;
}

.border1 {
  border: 1px solid black;
}

.dashboard-section {
  margin: 30px;
  border-radius: 5px;
}

.names {
  position: absolute;
  color: #F49432;
  font-family: "Montserrat", sans-serif;
  right: 40px;
  top: 20px;
}

header {
  min-height: 100vh;
  padding: 5px;
  background-image: url('../img/background_black.jpg');
  margin: 0px;
}

#subtitle {
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
  margin: 0px 0px 100px 0px;
}

#down-arrow {
  text-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
}

#logout-button {
  // margin: 25px 0px 0px 0px;
  margin: 10px 20px;
  padding: 5px 20px;
}

#dontUnderstand{
  width: 49%;
  height: 350px;
  font-size: 50px;
  text-shadow:0px 2px 0px rgba(0,0,0,.5);
  font-family: "Montserrat";
}

#understand{
  width: 49%;
  height: 350px;
  font-size: 50px;
  text-shadow:0px 2px 0px rgba(0,0,0,.5);
  font-family: "Montserrat";
}

// TODO: verify this
.understanding-buttons {
  display: flex;
}

#teacherEndLecture {
  margin: 30px 15px 0px 0px;
}

.signup-forms {
  margin: 25vh 0px 0px 0px;
}

.top-screen {
  margin: 25vh 0px 0px 0px;
}

.top-logo {
  margin: 0px 0px 0px -15px;
}

#classCode {
  margin: -10px 0px 20px;
}

#lecture-name {
  font-size: 25px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: $green;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

h4 {
  display: inline;
}

.currentStudents{
  overflow:auto;
}

.btn {
  text-align: center;
  margin: 0px 5px 5px 0px;
	background-color:$green;
  border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px $blue;
  border-radius: 2px;
}

.btn:hover {
  background-color: $lightGreen;
  border-color: $lightGreen;
  text-decoration:none;
  color: white;
}
.btn:visited {
  background-color: $green;
  border-color: $lightGreen;
  text-decoration:none;
  color: white;
}
.btn:active {
	position:relative;
  text-decoration:none;
	top:1px;
}
.btn:disabled{
  position:relative;
  text-decoration:none;
}

input[type="text"],input[type="email"], input[type="password"]  {
    border: 0;
    outline: 0;
    background: darken($background, 7%);
    border-bottom: none;
    transition: ease all 0.4s;
}

input[type="text"]:focus ,input[type="email"]:focus, input[type="password"]:focus  {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid $lightGreen;
    transition: ease all 0.4s;
}

img {
  height: 300px;
}

a:link {
 color: #057965;
 text-decoration: none;
}
a:visited {
  color: #057965;
  text-decoration: none;
}
a:hover {
  color: #057965;
  text-decoration: none;
}
a:active {
  color: #057965;
  text-decoration: none;
}

@media (max-width: 790px) {
  .understanding-buttons {
    display: flex;
    flex-direction: column-reverse;
  }

  .timer-text {
    font-size: 20px;
  }

  #dontUnderstand{
    width: 100%;
    height: 350px;
    font-size: 40px;
    text-shadow:0px 2px 0px rgba(0,0,0,.5);
    font-family: "Montserrat";
  }

  #understand{
    width: 100%;
    height: 350px;
    font-size: 40px;
    text-shadow:0px 2px 0px rgba(0,0,0,.5);
    font-family: "Montserrat";
  }

}
