<main class="container-fluid">
  <section class="dashboard-section">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li ng-class="{ activepath: isActive('/dashboard')}">
              <a ui-sref="dashboard"><h4>Dashboard</h4></a>
            </li>
            <li ng-class="{ activepath: isActive('/dashboard/teaching')}">
              <a ui-sref="teaching"><h4>Teaching</h4></a>
            </li>
            <li ng-class="{ activepath: isActive('/dashboard/attending')}">
              <a ui-sref="attending"><h4>Attending</h4></a>
            </li>
          </ul>
        </div>
        <div class="navbar-right">
          <h4>Welcome, <span ng-bind="vm.session.currentUser.name"></span></h4>
          <button class="secondaryButton" id="logout-button" ng-click="vm.logout()">Logout</button>
        </div>
      </div>
    </nav>

    <div class="col-md-10">
      <div ui-view></div>
    </div>

  </section>
</main>
