<section class="col-xs-10 col-xs-offset-1">
  <h3 ng-if="vm.currentClass.attributes.instructor">Class Code:
    <span ng-bind="vm.currentClass.attributes.id"></span>
  </h3>

  <h3 ng-show="vm.info.lectures">All Your Lectures:</h3>
    <button ng-if="vm.currentClass.attributes.instructor" type="button" class="primaryButton" data-toggle="modal" data-target="#lectureModal">Add A Lecture</button>
  <div ng-repeat="lecture in vm.info.lectures" class="well">
    <h4 ng-bind="lecture.attributes.name"></h4>
    <p ng-bind="lecture.attributes.description"></p>
    <p ng-bind="lecture.attributes.created_at | amCalendar"></p>

    <button ng-show="lecture.attributes.is_active" ui-sref="student({id:lecture.attributes.lecture_id})" ng-click="vm.setPreviousPage(vm.currentClass.attributes.id)">Join Lecture</button>

    <button ng-show="vm.currentClass.attributes.instructor && lecture.attributes.ended_at === null" ng-click="vm.startLecture(lecture)">Start Lecture</button>
  </div>

  <h3 ng-show="vm.info.participants">All Participants:</h3>
  <div ng-repeat="students in vm.info.participants">
    <h4 ng-bind="students.attributes.name"></h4>
    <p ng-bind="students.attributes.email"></p>
  </div>

    <!-- Modal -->
    <div class="modal fade" id="lectureModal" tabindex="-1" role="dialog" aria-labelledby="lectureModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="lectureModalLabel">Add A Class</h4>
          </div>
          <div class="modal-body">
            <form name="frm" novalidate ng-submit="vm.addLecture(frm)">
                <fieldset class="form-group" ng-class="{'has-error': frm.name.$invalid && frm.name.$touched, 'has-success': frm.name.$valid}">
                <label class="control-label">Name</label>
                <input type="text" class="form-control" name="name" ng-model="vm.lecture.name" required placeholder="Enter the name of your posting.">
                <div ng-messages="frm.name.$error" ng-if="frm.name.$touched">
                    <p ng-message="required" class="control-label">A name is required.</p>
                </div>
                </fieldset>
                <fieldset class="form-group" ng-class="{'has-error': frm.description.$invalid && frm.description.$touched, 'has-success': frm.description.$valid}">
                <label class="control-label">Description</label>
                <input type="text" class="form-control" name="description" ng-model="vm.lecture.description" required ng-minlength="3" placeholder="Enter the description of the posting.">
                <div ng-messages="frm.description.$error" ng-if="frm.description.$touched">
                    <p ng-message="minlength" class="control-label">Description is too short.</p>
                    <p ng-message="required" class="control-label">Desription is required.</p>
                </div>
                </fieldset>
                <div class="modal-footer">
                  <button type="button" class="btn" data-dismiss="modal" ng-click="vm.formClose(frm)">Close</button>
                  <button type="submit" class="btn" data-toggle="modal" data-target="#lectureModal" ng-disabled="frm.$invalid">Add a Lecture</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
</section>
