<main class="container-fluid">
  <h2>Hey <span ng-bind="vm.session.currentUser.name"></span></h2>
  <div class="col-xs-3">
    <button type="button" class="primaryButton" data-toggle="modal" data-target="#myModal">Add A Class</button>
    <h3>Teaching</h3>
    <ul>
      <li ng-repeat="class in vm.teaching"><a ui-sref="classInfo({ classId: class.attributes.id})"><h4 ng-bind="class.attributes.class_name" ng-click="vm.getInfo(class.links.summary)" ui-sref-opts="{reload:true}"></h4></a></li>
    </ul>
    <h3>Attending</h3>
    <ul>
      <li ng-repeat="class in vm.attending"><a ui-sref="classInfo({ classId: class.attributes.id})"><h4 ng-bind="class.attributes.class_name" ng-click="vm.getInfo(class.links.summary)" ui-sref-opts="{reload:true}"></h4></a></li>
    </ul>
  </div>
  <div class="col-xs-5">

    <div ui-view></div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add A Class</h4>
        </div>
        <form name="myForm" ng-submit="vm.addClass()">
          <div class="modal-body">
            <fieldset class="form-group" ng-class="{'has-error': myForm.title.$invalid && myForm.title.$touched, 'has-success': myForm.title.$valid}">
          <label class="control-label">Name</label>
          <input type="text" class="form-control" name="title" ng-model="vm.class.name" required placeholder="Name of Class">
          <div ng-messages="myForm.title.$error" ng-if="myForm.title.$touched">
              <p ng-message="required" class="control-label">Title is required.</p>
          </div>
          </fieldset>
          <fieldset class="form-group" ng-class="{'has-error': myForm.description.$invalid && myForm.description.$touched, 'has-success': myForm.description.$valid}">
          <label class="control-label">Description</label>
          <input type="text" class="form-control" name="description" ng-model="vm.class.description" required ng-minlength="3" placeholder="Description of the Class">
          <div ng-messages="myForm.description.$error" ng-if="myForm.description.$touched">
              <p ng-message="minlength" class="control-label">Description is too short.</p>
              <p ng-message="required" class="control-label">Desription is required.</p>
          </div>
          </fieldset>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn" data-dismiss="modal">Close</button>
            <button type="submit" class="btn">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
