<main class="container-fluid">
  <section class="dashboard-section">
    <div class="col-md-2">
      <h3>Teaching</h3>
      <ul>
        <li ng-repeat="class in vm.teaching">
          <a ui-sref="classInfo({ classId: class.attributes.id})">
            <h4 ng-bind="class.attributes.class_name" ng-click="vm.getInfo(class)" ui-sref-opts="{reload:true}">
            </h4>
          </a>
        </li>
      </ul>
      <button type="button" id="new-class" class="primaryButton col-md-12" data-toggle="modal" data-target="#myModal">Create a Class</button>
      <h3>Attending</h3>
      <ul>
        <li ng-repeat="class in vm.attending"><a ui-sref="classInfo({ classId: class.attributes.id})"><h4 ng-bind="class.attributes.class_name" ng-click="vm.getInfo(class)" ui-sref-opts="{reload:true}"></h4></a></li>
      </ul>
    </div>
    <div class="col-md-8">
      <div ui-view></div>
    </div>
    <div class="col-md-2 text-center">
      <h3>Welcome, <span ng-bind="vm.session.currentUser.name"></span></h3>
      <!-- <a ng-click="vm.logout()">Logout</a> -->
      <button class="secondaryButton col-md-12" id="logout-button" ng-click="vm.logout()">Logout</button>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add A Class</h4>
          </div>
          <div class="modal-body">
            <form name="myForm" novalidate ng-submit="vm.addClass(myForm)">
              <fieldset class="form-group" ng-class="{'has-error': myForm.name.$invalid && myForm.name.$touched, 'has-success': myForm.name.$valid}">
                <label class="control-label">Name</label>
                <input type="text" class="form-control" name="name" ng-model="vm.class.name" required placeholder="Enter the name of your posting.">
                <div ng-messages="myForm.name.$error" ng-if="myForm.name.$touched">
                  <p ng-message="required" class="control-label">A name is required.</p>
                </div>
              </fieldset>
              <fieldset class="form-group" ng-class="{'has-error': myForm.description.$invalid && myForm.description.$touched, 'has-success': myForm.description.$valid}">
                <label class="control-label">Description</label>
                <input type="text" class="form-control" name="description" ng-model="vm.class.description" required ng-minlength="3" placeholder="Enter the description of the posting.">
                <div ng-messages="myForm.description.$error" ng-if="myForm.description.$touched">
                  <p ng-message="minlength" class="control-label">Description is too short.</p>
                  <p ng-message="required" class="control-label">Desription is required.</p>
                </div>
              </fieldset>
              <div class="modal-footer">
                <!-- <button type="button" class="btn" data-dismiss="modal" ng-click="vm.formClose(myForm)">Close</button>
                <button type="submit" class="btn" data-toggle="modal" data-target="#myModal" ng-disabled="myForm.$invalid">Add Class</button> -->
                <!--TODO Fix buttons!  -->
                <button type="button" class="secondaryButton" data-dismiss="modal" ng-click="vm.formClose(myForm)">Close</button>
                <button type="submit" class="primaryButton" data-toggle="modal" data-target="#myModal" ng-disabled="myForm.$invalid">Add Class</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
