<section>
  <h3>All Your Lectures:</h3>
  <div ng-repeat="lecture in vm.info.lectures">
    <h4 ng-bind="lecture.attributes.name"></h4>
    <p ng-bind="lecture.attributes.description"></p>
    <p ng-bind="lecture.attributes.created_at | amCalendar"></p>
    <p ng-bind="lecture.attributes.is_active"></p>
  </div>
  <h3>All Students:</h3>
  <div ng-repeat="students in vm.info.participants">
    <h4 ng-bind="students.attributes.name"></h4>
    <p ng-bind="students.attributes.email"></p>
  </div>
</section>
