<section class="col-xs-10 col-xs-offset-1">
  <div class="row">
    <div class="col-md-12">
      <h3 id="classCode" ng-show="vm.info.lectures">Lectures for {{vm.currentClass.attributes.class_name}}</h3>
    </div>
  </div>

  <div ng-repeat="lecture in vm.info.lectures" class="well">
    <h4 ng-bind="lecture.attributes.name"></h4>
    <p ng-bind="lecture.attributes.description"></p>
    <p ng-bind="lecture.attributes.created_at | amCalendar"></p>

    <button ng-show="lecture.attributes.is_active && !vm.currentClass.attributes.instructor" ui-sref="student({lectureId:lecture.attributes.lecture_id})" ng-click="vm.setPreviousPage(vm.currentClass.attributes.id)" class="secondaryButton">Join Lecture</button>

    <button ng-if="vm.currentClass.attributes.instructor && lecture.attributes.ended_at !== null && !lecture.attributes.is_active" ui-sref="teacher({lectureId:lecture.attributes.lecture_id})" class="secondaryButton">
      View lecture history
    </button>
    <p ng-show="lecture.attributes.ended_at !== null">This lecture has ended.</p>
  </div>

  <h3 ng-show="vm.info.participants">All Participants:</h3>

  <div class="well currentStudents">
      <div class="col-md-5">
        <h4>Name</h4>
      </div>
      <div class="col-md-4">
        <h4>Email</h4>
      </div>
      <div class="col-md-2"></div>
      <div ng-repeat="students in vm.info.participants">
        <div class="col-md-5">
          <h5><span  ng-bind="students.attributes.name"></span></h5>
        </div>
        <div class="col-md-4">
          <h5 ng-bind="students.attributes.email"></h5>
        </div>
      </div>
  </div>
</section>
