<main class="container-fluid col-lg-12">
  <section class="dashboard-section">
    <h2>Hey <span ng-bind="vm.session.currentUser.name"></span></h2>
    <h4 ng-if="vm.currentUnderstanding">You currently: <span ng-bind="vm.currentUnderstanding"></span></h4>

    <div class="understanding-buttons">
      <button ng-disabled="!vm.canClick" id="dontUnderstand" class="col-md-6 secondaryButton " ng-click='vm.vote(1)'>I don't understand</button>
      <button ng-disabled="!vm.canClick" id="understand" class="col-md-6 primaryButton " ng-click='vm.vote(3)'>Got it!</button>
    </div>

    <div ng-if="!vm.canClick">
      <h1 class="timer-text">You can vote again in: <span ng-bind="vm.timer"></span> seconds</h1>
    </div>

    <button class="col-lg-2 primaryButton" ui-sref='attendingLectures({classId: vm.previousPage})'>
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      Dashboard
    </button>
  </section>
</main>
