<main class="container-fluid col-lg-12">
  <section class="dashboard-section">
    <h2>Hey <span ng-bind="vm.session.currentUser.name"></span></h2>
    <button id="dontUnderstand" class="col-lg-6 secondaryButton " ng-click='vm.vote(1)'>I don't understand</button>
    <button id="understand" class="col-lg-6 primaryButton " ng-click='vm.vote(3)'>Got it!</button>

    <button class="col-lg-2 primaryButton" ui-sref='attendingLectures({classId: vm.previousPage})'>
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      Dashboard
    </button>
  </section>
</main>
